SERVER_TYPE=<FILL IN>
IMAGE=centos-6-v20160526
ZONE=<FILL IN>
DISK_TYPE=pd-standard
PROJECT=<FILL IN>
SSH_USERNAME=<FILL IN>
SSH_KEY=<FILL IN>
SVC_ACCOUNT_KEY=<FILL IN>
SVC_ACCOUNT=<FILL IN>
DISK_SIZE=100
DISK_QTY=4   # MUST BE EVEN NUMBER
GPADMIN_PW=p1v0tal
ROOT_PW=p1v0tal
PIVNET_APIKEY=<FILL IN>
BASE_HOME=/data
SEGMENTDBS=2
RAID0=no
STANDBY=no
ACCESS=no
